*~
.cproject
.project
.pydevproject
.settings
.externalToolBuilders
.sconsign.dblite
/design/*.png
/src/plot.bmp
/src/ctrace.log
/src/ctrace.log.1
/src/emulator
/src/libparts.a
/src/**/*.o
/src/html
/src/emulator_permissive.rng
/src/emulator_strict.rng
/src/*.jing.txt
output.xml
log.html
report.html
*.pyc
